In [3]:
import pandas as pd
import matplotlib.pyplot

In [13]:
storeFronts = pd.read_csv('./csv/Storefronts_Reported_Leased_or_Not_Leased.csv')

In [14]:
storeFronts

,BOROUGH-BLOCK-LOT,PROPERTY STREET ADDRESS OR STOREFRONT ADDRESS,BOROUGH,ZIP CODE,SOLD DATE,LEASED ON 12/31,LEASED ON 6/30 OR DATE SOLD IF EARLIER,PRIMARY BUSINESS ACTIVITY
0,1000010010,1 GOVERNORS ISLAND,MANHATTAN,10004,NaN,NO,NO,NO BUSINESS ACTIVITY IDENTIFIED
1,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,MEDIA
2,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,RETAIL
3,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,NO,NO,FOOD SERVICES
4,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,EDUCATIONAL SERVICES
...,...,...,...,...,...,...,...,...
75245,5080470031,227 MAIN STREET,STATEN ISLAND,10307,NaN,YES,YES,FOOD SERVICES
75246,5080470031,225 MAIN STREET,STATEN ISLAND,10307,NaN,YES,YES,FOOD SERVICES
75247,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT
75248,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT
75249,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT